.header {
  background-color: #689bff;
  color: white;
}

.chat-button {
  background-color: #74fcfd;
  color: black;
}
.overall-layout {
  margin: 5%;
}

#chatbox {
  text-align: left;
  margin: 0 auto;
  background: #fff;
  height: 50em;
  width: 100%;
  border: 1px solid #acd8f0;
  overflow: auto;
}

#wrapper {
  margin: 2%;
}

.chat-bubble {
  background-color: #f5d14e;
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

button {
  display: inline-block;
}
